<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Datensätze-(einzelne-Samples)-aneinanderhängen" data-toc-modified-id="Datensätze-(einzelne-Samples)-aneinanderhängen-0.0.1"><span class="toc-item-num">0.0.1&nbsp;&nbsp;</span>Datensätze (einzelne Samples) aneinanderhängen</a></span></li><li><span><a href="#Funktionen-dran-mergen" data-toc-modified-id="Funktionen-dran-mergen-0.0.2"><span class="toc-item-num">0.0.2&nbsp;&nbsp;</span>Funktionen dran mergen</a></span></li></ul></li></ul></li><li><span><a href="#Ende-Concat" data-toc-modified-id="Ende-Concat-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Ende Concat</a></span></li></ul></div>

import pandas as pd

### Datensätze (einzelne Samples) aneinanderhängen

In [10]:
df_all_1 = pd.read_csv("df_all_1-500_2019-07-20.csv", sep=";") 
df_all_1.shape
# key a

(9521, 24)

In [11]:
df_all_2 = pd.read_csv("df_all_501-1000_2019-07-20.csv", sep=";") 
df_all_2.shape
# key b

(14607, 24)

In [12]:
df_all_3 = pd.read_csv("df_all_1001-1500_2019-07-20.csv", sep=";") 
df_all_3.shape
# key c

(5888, 24)

In [13]:
df_all_4 = pd.read_csv("df_all_1501-2000_2019-07-20.csv", sep=";") 
df_all_4.shape
# key d

(4663, 24)

In [14]:
df_all_5 = pd.read_csv("df_all_2001-2500_2019-07-20.csv", sep=";") 
df_all_5.shape
# key e

(4580, 24)

In [15]:
df_all_6 = pd.read_csv("df_all_2501-3000_2019-07-20.csv", sep=";") 
df_all_6.shape
# key f

(1227, 24)

In [16]:
df_all_7 = pd.read_csv("df_all_3001-3872_2019-07-20.csv", sep=";") 
df_all_7.shape
# key g

(9972, 24)

In [17]:
df_all = pd.concat([df_all_1, df_all_2, df_all_3, df_all_4, df_all_5, df_all_6, df_all_7], keys=["a", "b", "c", "d", "e", "f", "g"])

In [18]:
df_all.shape

(50458, 24)

### Funktionen dran mergen

In [19]:
df_functions = pd.read_csv("df_functions_2019-07-20.csv", sep=";")

In [20]:
df_functions.head(2)

,id2,label2,label1,id1
0,10012000,Automatisierungstechnik,Ingenieure und technische Berufe,10000000
1,10006000,Bauwesen,Ingenieure und technische Berufe,10000000

In [22]:
df_functions.rename(columns={'id2': 'function', 
                             'label2': 'function_label_level2', 
                             'id1': 'function_id_level_1',
                             'label1': 'function_label_level1'}, 
                    inplace=True)

In [23]:
df_functions.head(3)

,function,function_label_level2,function_label_level1,function_id_level_1
0,10012000,Automatisierungstechnik,Ingenieure und technische Berufe,10000000
1,10006000,Bauwesen,Ingenieure und technische Berufe,10000000
2,10007000,Chemietechnik,Ingenieure und technische Berufe,10000000

In [24]:
df_functions.shape

(242, 4)

In [25]:
df_all.shape

(50458, 24)

In [27]:
df = pd.merge(df_all, df_functions, on='function', how='left')

In [28]:
df.shape

(50458, 27)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50458 entries, 0 to 50457
Data columns (total 27 columns):
title                     50458 non-null object
company                   50458 non-null object
company_link              50458 non-null object
location                  50458 non-null object
contract_type             50458 non-null object
wrk_time                  50458 non-null object
date                      50458 non-null object
job_url                   50458 non-null object
sections                  50458 non-null object
urls                      50458 non-null object
searches                  50458 non-null object
job_count                 50458 non-null int64
search                    50458 non-null object
function                  50458 non-null int64
region                    50458 non-null int64
company_name              49887 non-null object
company_location          49649 non-null object
company_sector            22256 non-null object
company_rating            20438 non-null float64
company_rating_count      20304 non-null float64
company_job_count         49079 non-null float64
company_employee_count    25591 non-null object
company_website           18846 non-null object
company_metadatablock     35334 non-null object
function_label_level2     50458 non-null object
function_label_level1     50458 non-null object
function_id_level_1       50458 non-null int64
dtypes: float64(3), int64(4), object(20)
memory usage: 10.8+ MB

In [30]:
df.to_csv("df_1-3872_2019-07-20.csv", index=False, sep=";", encoding='utf-8')

# Ende Concat

---